<% if params[:controller] == 'about'%>
<div class='well'>
    <h3>Location Info</h3>
    <ul>
        <li>The Bookstore</li>
        <li>DieSachbearbeiter</li>
        <li>Choriner Straße 49</li>
        <li>10435 Berlin</li>
        <li>moinsen2@blindtextgenerator.com</li>
    </ul>
<%end %>